/*
This script was created by Visual Studio on 5/07/2015 at 4:28 PM.
Run this script on hzbcrprwfg.database.windows.net.parks2 (parks) to make it the same as hzbcrprwfg.database.windows.net.parks (parks).
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
INSERT INTO [Parks].[Public toilets] ([Id], [Latitude], [Longitude], [Name], [Location]) VALUES (1, -37.77893699, 144.96046662, N'Public Toilet - Princes Park Royal Parade (near Park Street)', geography::STGeomFromText('POINT (144.96046662 -37.77893699)', 4326))
INSERT INTO [Parks].[Public toilets] ([Id], [Latitude], [Longitude], [Name], [Location]) VALUES (2, -37.78559839, 144.96303536, N'Public Toilet - Princes Park South Playground (Princes Park Drive)', geography::STGeomFromText('POINT (144.96303536 -37.78559839)', 4326))
INSERT INTO [Parks].[Public toilets] ([Id], [Latitude], [Longitude], [Name], [Location]) VALUES (3, -37.78870674, 144.96188253, N'Public Toilet - Princes Park - Crawford Oval (Male)', geography::STGeomFromText('POINT (144.96188253 -37.78870674)', 4326))
INSERT INTO [Parks].[Public toilets] ([Id], [Latitude], [Longitude], [Name], [Location]) VALUES (4, -37.78890364, 144.96188890, N'Public Toilet - Princes Park - Crawford Oval (Female)', geography::STGeomFromText('POINT (144.9618889 -37.78890364)', 4326))
COMMIT TRANSACTION
