/*
This script was created by Visual Studio on 5/07/2015 at 4:28 PM.
Run this script on hzbcrprwfg.database.windows.net.parks2 (parks) to make it the same as hzbcrprwfg.database.windows.net.parks (parks).
This script performs its actions in the following order:
1. Disable foreign-key constraints.
2. Perform DELETE commands. 
3. Perform UPDATE commands.
4. Perform INSERT commands.
5. Re-enable foreign-key constraints.
Please back up your target database before running this script.
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET XACT_ABORT, ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
/*Pointer used for text / image updates. This might not be needed, but is declared here just in case*/
DECLARE @pv binary(16)
BEGIN TRANSACTION
INSERT INTO [Parks].[Parks of Melbourne] ([Id], [Latitude], [Longitude], [Name], [Slide], [See-saw], [Cubby house], [Swing], [Climbing frame], [Spinner], [Rocker], [Pirate ship], [Grass area], [BBQ], [Picnic table], [Multilevel play], [Fitness track], [Sandpit], [Exercise station], [Shade], [Skate park], [Toilet], [Bike track], [Ability swing], [Disabled access], [Basketball court], [Location]) VALUES (1, -37.796371, 144.952752, N'Manningham Street Reserve Playground', 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, geography::STGeomFromText('POINT (144.952752 -37.796371)', 4326))
COMMIT TRANSACTION
